* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.metamask-btn {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallet-content {
    padding: 20px 0 0 0;
    text-align: center;
}